footer.footer-dark#footer
    section.footer-secondary
        .container
            p Copyright 2021 &copy; Galaxy Backbone HotSpot. All rights reserved.
                br
                a.text-color-light(href='#') Terms of Service
                |             |
                a.text-color-light(href='#') Privacy Policy