extends base

block content

    // Content
    section#content
        // Content Row
        section.content-row.content-row-color.content-row-clouds
            .container
                header.content-header.content-header-small.content-header-uppercase
                    h1
                        i.fa.fa-user-secret.icon-left
                        br
                        | Create Password
                    p Please create a password for your account to verify your email
        // Content Row
        section.content-row
            .container
                .column-row.align-center
                    .column-50
                                                
                        form#createPasswordForm.form-full-width(method='post' action='#')
                            input#password(type='password' name='password' placeholder='Password')
                            input#token(type='hidden' value=`${token}`)
                            ul
                                li Password must be a minimum of 10 characters long
                                li It must consist of uppercase and lowercase letters. E.g a-zA-Z
                                li It must contain a number. E.g 0 - 9
                                li It must contain one symbol E.g @#$.
                            .group.form-row
                                button#verifyEmail.group-stretch.button-secondary
                                    i.fas.fa-lock.icon-left
                                    | Create Password &amp; Verify Email

                        