extends base

block content

    // Content
    section#content
        // Content Row
        section.content-row.content-row-color.content-row-clouds
            .container
                header.content-header.content-header-small.content-header-uppercase
                    h1
                        i.fa.fa-user-plus.icon-left
                        br
                        | Create Account
                    p Please provide your personal details. Your details are safe.
        // Content Row
        section.content-row
            .container
                .column-row.align-center
                    .column-50
                        form#registrationForm.form-full-width(method='get' action='#')
                            #tab
                                .form-row
                                    input#firstName(type='text' name='firstName' placeholder='First Name' required)
                                .form-row
                                    input#lastName(type='text' name='lastName' placeholder='Last Name' required)
                                .form-row
                                    input#email(type='text' name='email' placeholder='Email Address' required)
                                .form-row
                                    input#mobile(type='text' name='mobile' placeholder='Mobile' required)
                                .group.form-row
                                    button#nextBtn.group-stretch.button-secondary
                                        | Next 
                                        i.fa.fa-arrow-right.icon-left
                            #tab   
                                h2 Privacy Policy
                                p= `To create an account, you will need to agree to our Privacy Policy below.` 

                                iframe(src='privacy-policy.txt' style='height:200; width:800px; border: solid; padding: 20px 0' title='Privacy-Policy')
                                .group.form-row
                                    a#cancel.button(href='#')
                                        i.fa.fa-ban 
                                        | Cancel
                                    button#createAccount.group-stretch.button-secondary
                                        i.fas.fa-lock.icon-left
                                        | Agree &amp; Create account
                                    
                            .form-row
                                p.text-color-gray.text-align-center
                                    small
                                        | Already have an account? 
                                        a.text-color-primary(href='/') Sign In    

