extends base

block content

    section#content
        // Content Row
        section.content-row.content-row-color.content-row-clouds
            .container
                header.content-header.content-header-small.content-header-uppercase
                    h1 
                        i.fa.fa-handshake.icon-left
                        br
                        | Thank you for signing up!
                    p Email verification pending.
        // Content Row
        section.content-row
            .container
                .column-row.align-center
                    .column-50
                        p You need to verify your email address to use this service. Please check your inbox/spam for a verification link.

